*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: solid 1px red;
    font-family: "work-sans", "sans-serif";
}

a {
    text-decoration: none;
}
