*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: solid 1px red;
    font-family: "work-sans", "sans-serif";
}

a {
    text-decoration: none;
}

h1,h2, p {
    margin: 0 10px;
}

h2 {
    padding: 10px 0;
    font-size: 23px;
}

h1, p {
        font-size: 17px;
}