.socials h2, .socials p {
     color: #000000;
     text-align: center;
     font-size: 20px;
}

.socials h1 {
     text-align: center;
     color: #74C69D;
}

.socials p {
    font-size: 20px; 
}

.linebreak {
     display: inline-block;
     margin-top: 8px;
     margin-bottom: 50px;
}

.handles {
     display: grid;
    gap: 40px;
    justify-content: center;
}